
.btn {
  background-color: gray;
  color: white;
  font-size: 1.2rem;

  padding: 10px 25px 10px 25px;
  border-radius: 100px;
  border: 1px black solid;

  outline: none;
  box-shadow: none;
  cursor: pointer;

  &:active, &:focus, &:hover {
    background-color: lightgray;
    color: black;
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
    background-color: gray;
    color: white;
  }
}